<div class="container m-6">
    <div class="columns">
        <div class="column">
            <div class="card mt-6">
                <div class="card-content">
                    <div class="content">
                        <div id="div-message"></div>
                        <form id="formulario">
                            <div class="field">
                                <label class="label">Username</label>
                                <div class="control">
                                    <input
                                        class="input is-primary"
                                        type="text"
                                        name="username"
                                        id="username"
                                        value=""
                                        placeholder="Nombre"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control">
                                    <input
                                        class="input is-primary"
                                        type="email"
                                        name="email"
                                        id="email"
                                        value=""
                                        placeholder="Email"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Contraseña</label>
                                <div class="control">
                                    <input
                                        class="input is-primary"
                                        type="text"
                                        name="password"
                                        id="password"
                                        value=""
                                        placeholder="Contraseña"
                                        required
                                    />
                                </div>
                            </div>
                            <br />
                            <button type="submit" class="button is-success">
                                Crear</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/create.js"></script>